body {
  max-width: 550px;
  margin: 0px auto;
  padding: 1em;
  background-color: white;
  box-shadow: 1px 1px 30px #000;
  /* column-count: 2; */
  /* filter: contrast(0.8); */
  /* filter: contrast(1.1) brightness(1.1); */
  text-align: justify;
  font-size: 1.5em;
}
#art span {
  width: 100%;
}
#art input {
  width: 20px;
  margin: 2px;
  border-width: 3px;
  border-style: inset;
}
label {
  text-align: left;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100%;
  filter: grayscale();
  margin: auto;
  /* filter: brightness(0.79234) grayscale(1); */
}
.form-hero {
  /* filter: grayscale(1); */
}
textarea {
  /* width: 100%; */
  margin: auto;
  display: block;
}
html {
  margin: 0;
  background-color: white;
  /* background-image: url("https://paper-attachments.dropbox.com/s_0AD07C3FE82DA8F5CC00004DCDDF6C24B3B304BD5811A4A7C1C6B3EDD134B83F_1573493741841_image.png"); */
  background-image: url("https://paper-attachments.dropbox.com/s_0AD07C3FE82DA8F5CC00004DCDDF6C24B3B304BD5811A4A7C1C6B3EDD134B83F_1573497661136_image.png");
  backdrop-filter: contrast(0.5);
  background-size: 500px;
}
